.intro__discription {
    max-width: 690px;
}

@media (max-width:768) {
    .intro__discription {
        max-width: 720px;
    }  
}

@media (max-width:768) {
    .intro__discription {
        max-width: 288px;
    }  
}