.cover {
    font-family: Inter, Arial, Helvetica, sans-serif;
    margin: 92px auto;
    background-image: url(https://www.karriere.de/images/25750726-3/aufbruchstimmung.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: stretch;
}

@media (max-width:320px) {
    .cover {
        margin: 66px 0 0 0;
    }
}